# LLM Configuration
llm_provider=Ollama # Options: Ollama, AzureOpenAI, LlamaCPP

# Ollama Configuration
# For Local models, suggested: llama3.2:latest (or better)
OLLAMA_MODEL_NAME=llama3.2:latest

# Llama CPP Configuration
LLAMA_CPP_MODEL_PATH=D:\llama\models\Qwythos-9B-Claude-Mythos-5-1M-Q5_K_M.gguf

# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=your_azure_openai_key_here
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o