# Virtual Environment
venv/
.venv/
myenv/

# Environment variables
.env

# Logs
logs/*

# Different Databse testing files
database-tests/*
app-gemini.py
app-claude.py

# Database / Generated artifacts
chroma_db/*
faiss_db/*
data/*
!data/.gitkeep
context.bkp/*

# Ignore all files in context folder
context/*

# But keep ReadMe.md in context folder
!context/ReadMe.md

# Ignore all __pycache__ folders
__pycache__/
*.pyc

# AntiGravity
.antigravity/